.spot-details-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.spot-details-location {
    display: flex;
    flex-direction: row;
}

.spot-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.spot-details-preview {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* width: 493px; */
    min-width: 550px;
    margin: 8px;
    align-self: center;
    /* min-width: 400pt; */
    min-height: auto;
    max-width: 500px;
}


.spot-details-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 49%;
}

.spot-details-image {
    width: 172px;
    height: 175px;
    min-width: 200px;
    margin: 8px;
}

.spot-details-preview-wrapper {
    display: grid;
    overflow: hidden;
    position: relative;
    align-content: center;
    /* width: 493px; */
    margin-right: 24px;
    height: 380px;
}

.spot-details-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
