.spotTile-wrapper {
    /* min-width: auto; */
    margin: 16px 16px;
}

.image-wrapper {
    min-width: 300px;
    max-width: 425px;
    height: 300px;
    overflow: hidden;
    /* align-content: center; */
}

.image-wrapper p {
    border: black;
    align-self: center;
}

.image {
    position: relative;
    left: -30px;
    min-width: 300px;
    min-height: auto;
    max-width: 500px;
}

.tooltips {
    width: fit-content;
    position: relative;
    top: 30px;
    left: 50px;
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0.7);
}
