.spotTile-wrapper {
    margin: 16px 16px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(127, 145, 123);
    box-shadow: 4px 4px 8px rgb(7, 41, 0,.7);
}

.image-wrapper {
    display: grid;
    width: 400px;
    height: 300px;
    overflow: hidden;
    align-content: center;
}

.image {
    min-height: auto;
    max-width: 500px;
}

.tooltips {
    display: none;
}

.manage-buttons button {
    width: 100px;
    height: 30px;
    margin-right: 20px;
    box-shadow: 3px 3px 3px rgb(45, 69, 75);
}
