.landingpage-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 124px 0; */
}

/* .landingpage-wrapper img {
     width: 50% 
}
*/

.landingpage-tiles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
}

/* img {
    width: 25%
} */
