.LandingTile-wrapper {

    margin: 16px 16px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(127, 145, 123);
    box-shadow: 4px 4px 8px rgb(7, 41, 0,.7);
}

.lt-image-wrapper {
    display: grid;
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    align-content: center;
}

.lt-image-wrapper:hover p {
    visibility: visible;
}

.lt-image-wrapper p {
    visibility: hidden;
    border: black;
    align-self: center;
    position: absolute;
    left: 50%;
}


.lt-image {
 
    min-height: auto;
    max-width: 500px;
}

.lt-tooltips {
    width: fit-content;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0.7);
}

.lt-loc-rat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
