.spotFormWrapper {
    display: flex;
    max-width: 1000px;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
}

* {
    background-color: #f1f1f4;
}

input {
    width: 50ch;
}

#city {
    width: 30ch;
    margin-right: 16px;
}

#state {
    width: 30ch;
}

#longitude {
    width: 30ch;
}

#latitude {
    width: 30ch;
    margin-right: 16px;
}

.titleSection {
    display: flex;
    flex-direction: column;
}

.inline {
    display: inline;
}

.spotForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.two-item-input {
    display: flex;
}

label {
    display: flex;
    max-width: 600px;
}

.error {
    color: red;
}

.input {

    align-self: left;
    display: grid;
}

p {
    margin: 4px 0;
}
