.logo {
    width: 100px;
}

.wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}


ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.link-text {
    font-size: 1.5rem;
}

/* .profile-dropdown {
    display: flex;
    flex-direction: column;
} */
