.logo {
    width: 100px;
}

.header-wrapper {
    display: flex;
    margin: 8pt 0pt;
    align-items: center;
    padding-inline: 20pt;
    border-bottom-style: solid;
    border-color:rgb(0, 77, 0) ;
    padding:16px;
}

ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.link-text {
    font-size: 1.5rem;
    margin-right: 24pt;

}

.menu-link {
    text-decoration: none;
    padding: 4px 16px;
    border-radius: 10px;
}

.menu-link-cs {

    border-style: solid;
    box-shadow: 4px 4px 8px rgb(0, 51, 0, .5);
}

.menu-link:visited {
    color: green;
}

.right-menu {
    display: flex;
    align-items: center;
}
