.logo {
    width: 100px;
}

.wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-inline: 20pt;
}


ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.link-text {
    font-size: 1.5rem;
    margin-right: 24pt;

}

.menu-link {
    text-decoration: none;
}

.menu-link:visited {
    color: green;
}

/* .profile-dropdown {
    display: flex;
    flex-direction: column;
} */
